.topnav {
    height: 1em;
    background-color: #181818;
    padding: 1em;
    font-family: 'Anonymous Pro', monospace;
    word-spacing: 1em;
    display: flex;
}

.logo {
    color: white;
    font-size: 25px;
    margin: 0 0 0 auto;
}

a, a:hover {
    color: white;
    text-decoration: none
  }

