.topnav {
    height: 1em;
    background-color: rgb(14, 36, 56);
    padding: 1em;
    font-family: 'Anonymous Pro', monospace;
    word-spacing: 1em;
    display: flex;
}

.logo {
    margin: auto;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px
}

a, a:hover {
    color: rgb(128, 185, 238);
    text-decoration: none
  }

body {
    background-color:  rgb(14, 36, 56);
    color: white;
    font-family: 'Anonymous Pro', monospace;
}