.topnav {
    height: 1em;
    background-color: rgb(14, 36, 56);
    padding: 1em;
    font-family: 'Anonymous Pro', monospace;
    word-spacing: 1em;
    display: flex;
    font-weight: bolder;
}

.logo {
    color: rgb(128, 185, 238);
    font-size: 25px;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: 138px 
}

a, a:hover {
    color: rgb(128, 185, 238);
    text-decoration: none
  }

body {
    background-color: black;
    color: white;
    font-family: 'Anonymous Pro', monospace; 
    text-align: center
}