body {
  background-color: rgb(14, 36, 56);
  color: rgb(128, 185, 238);
  text-align: center;
  font-family: 'Anonymous Pro', monospace; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 10px;
  font-size: 2rem;
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
}

.timer, .errors,
.accuracy, .cpm, .wpm {
  color: rgb(128, 185, 238);
  height: 40px;
  width: 60px;
  margin: 8px;
  padding: 10px;
}

.head {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: rgb(128, 185, 238);
  font-weight: bolder;
  padding: 2px;
}

.errors{
  color: red;
}
.wpm{
  color: rgb(16, 197, 16);
}
.wpm  {
  display: none;
}

.init_time, .init_errors,
.init_accuracy, .init_wpm {
  font-size: 35px;
}

.content {
  color: rgb(128, 185, 238);
  font-weight: bolder;
  margin: 10px;
  height: 80px;
  width: 18cm;
  font-size: 1.4rem;
  padding: 25px;
  box-shadow: grey 5px 8px 5px;
  border-radius: 10px 10px 10px 10px;
}

.input_box {
  background-color: rgb(128, 185, 238);
  font-weight: bolder;
  height: 80px;
  width: 18.5cm;
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 15px;
  padding: 15px;
  border: 0px;
  border-radius: 3px 3px 3px 3px;
}


.correct{
  color: rgb(82, 200, 82);
}

.restart {
  display: block;
  background-color: rgb(128, 185, 238);
  font-size: 0.8rem;
  font-family: 'Anonymous Pro', monospace;
  padding: 10px;
  border: 0px;
  color: rgb(14, 36, 56);
  border-radius: 3px 3px 3px 3px;
  width: 100%;
  font-weight: bolder;
}
