body {
  background-color: rgb(14, 36, 56);
  color: rgb(128, 185, 238);
  text-align: center;
  font-family: 'Anonymous Pro', monospace; 
}

input[type=text], input[type=password] {
  background-color: rgb(14, 36, 56);
  border: 1px solid rgb(128, 185, 238);
  border-radius: 3px 3px 3px 3px;
  padding: 4px;
  color: rgb(128, 185, 238);
  font-family: 'Anonymous Pro', monospace;
}

input[type="submit"] {
  border: 1px solid rgb(128, 185, 238);
  border-radius: 3px 3px 3px 3px;
  padding: 4px;
  background-color: rgb(14, 36, 56);
  color: rgb(128, 185, 238);
  font-family: 'Anonymous Pro', monospace;
}

