body {
    background-color: rgb(14, 36, 56);
    color: rgb(128, 185, 238);
    text-align: center;
    font-family: 'Anonymous Pro', monospace; 
}

h1 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

table, th, td {
    border-collapse: collapse;
    padding: 5px;
}

td {
    padding: 5px;
}

#records {
    margin: 30px auto;
    padding: 3cm;
    float: left
}

#summary {
    margin: 30px auto;
    padding: 3cm;
    float: right;
}

.container {
    width: 30%;
    left:0;
  right:0;

  margin-left: auto;
  margin-right: auto;

  position: absolute;

  background: transparent;
}