body {
    background-color: rgb(14, 36, 56);
    color: rgb(128, 185, 238);
    text-align: center;
    font-family: 'Anonymous Pro', monospace; 
}

h1 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

table, th, td {
    border-collapse: collapse;
    padding: 5px;
}

td {
    padding: 5px;
}

#summary, #records {
    margin: 30px auto;
    padding: 3cm;
}

.container {
  column-count: 2;
}