{% extends "base.html" %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block head %} 
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='stylesheets/base.css') }}">
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='stylesheets/login.css') }}">
{% endblock %}

{% block content %}
    <h1>Sign In</h1>
    <p>New User?<b> Register <a href="{{ url_for('register') }}"><u>Here</u></b></a></p>
    <form action="/login" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style='color: red'>[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style='color: red'>[{{error}}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}