{% extends "base.html" %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block head %} 
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='stylesheets/base.css') }}">
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='stylesheets/register.css') }}">
{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form action="/register" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style='color: red'>[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style='color: red'>[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style='color: red'>[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style='color: red'>[{{error}}]</span>
            {% endfor %}
        </p>
        <p class="submit">{{ form.submit() }}</p>
        <p><b>Already have an account? Login <a href="{{ url_for('login') }}"><u>here</u></a></b></p>
    </form>
{% endblock %}