{% extends "base.html" %}

{% block title %}
    <title>Scores</title>
{% endblock %}

{% block head %} 
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='stylesheets/base.css') }}">
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='stylesheets/scores.css') }}">
{% endblock %}

{% block content %}
    <body>
        <div class='container'>
            <h1>Scores</h1>
        </div>

        <div class='tble'>
            <table id='records'>
                <caption>Your Top 10 Scores</caption>
                <tr>
                    <th>Username</th>
                    <th>WPM</th>
                    <th>Accuracy</th>
                </tr>
            {% for score in myScore %}
                <tr>
                    <td>{{ score.username }}</td>
                    <td>{{ score.score  }}</td>
                    <td>{{ score.accuracy }}</td>
            {% endfor %}
            </table>
            <table id='global'>
                    <caption>Top 10 Global Scores</caption>
                    <tr>
                        <th>Username</th>
                        <th>WPM</th>
                        <th>Accuracy</th>
                    </tr>
                {% for score in globaltop10 %}
                    <tr>
                        <td>{{ score.username }}</td>
                        <td>{{ score.score  }}</td>
                        <td>{{ score.accuracy }}</td>
                {% endfor %}
                </table>
        </div>
    </body>
{% endblock %}